/* Common styles */

:root {
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --title-text-color: #212121;
  --second-text-color: #ffffff;
  --description-text-color: #757575;
  --accent-text-color: #2196f3;
  --filter-background-color: #f5f4fa;
  --hero-button-accent-color: #188ce8;
  --footer-address-link: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --hero-background-color: #c4c4c4;
  --icon-background-color: #f5f4fa;
  --social-icon-color: #afb1b8;
  --footer-item-background: rgba(255, 255, 255, 0.1);
  --works-item-background: rgba(47, 48, 58, 0.8);
  --main-animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  padding-top: 80px;
  background-color: var(--main-background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: var(--description-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  letter-spacing: 0.03em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 2;
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--header-border-color);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
}

.logo-web {
  color: var(--accent-text-color);
}

.header .container {
  display: flex;
}

.site-nav-list {
  display: flex;
  gap: 50px;
}

.site-nav-link,
.contacts-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--main-animation-cubic);
}

.contacts {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.contacts-link {
  color: var(--description-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}

.site-nav-link::before,
.site-nav-link::before {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);

  transform: scale(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--main-animation-cubic);
}

.site-nav-link:hover::before,
.site-nav-link:focus::before {
  transform: scale(1);
}

.contacts-icon {
  fill: currentColor;
}

.current {
  position: relative;
  color: var(--accent-text-color);
}

.current::after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

/* Portfolio styles and footer*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
  text-align: center;
}

.hero-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--main-animation-cubic);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-accent-color);
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-item {
  max-width: 270px;
}

.features-icon {
  height: 120px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--icon-background-color);
  border-radius: 4px;
}

.works.section {
  padding-top: 0;
}

.works-list {
  display: flex;
  gap: 30px;
}

.works-item {
  position: relative;
}

.works-item-description {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
  background: var(--works-item-background);
}

.team {
  background-color: var(--filter-background-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.team-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: var(--social-icon-color);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--main-animation-cubic);
}
.social-item:hover,
.social-item:focus {
  fill: var(--main-background-color);
  background-color: var(--accent-text-color);
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  fill: var(--social-icon-color);

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--main-animation-cubic);
}

.clients-item:hover,
.clients-item:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
}
.footer .container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-decoration: none;
}

.footer-item {
  display: block;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  color: var(--footer-address-link);
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--main-animation-cubic);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-text-color);
}

.local {
  color: var(--main-background-color);
  font-style: normal;
  letter-spacing: 0.03em;
}

.footer-social-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--footer-item-background);
  fill: var(--main-background-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--main-animation-cubic);
}

.footer-social-item:hover,
.footer-social-item:focus {
  background-color: var(--accent-text-color);
}

/* Modal Window */

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.5);
  z-index: 10;

  transition: opacity 250ms var(--main-animation-cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(1.2) ;
}

.modal-window {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 10;

  transform:translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--main-animation-cubic);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--main-background-color);
  cursor: pointer;
}

.modal-close-icon {
  fill: #000;

  transition: fill 500ms var(--main-animation-cubic), transform 500ms var(--main-animation-cubic);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: var(--accent-text-color);
  transform: rotate(180deg) scale(1.2);
}

/* Portfolio styles */

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-button {
  display: block;
  padding: 6px 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background-color: var(--filter-background-color);
  font-family: inherit;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--main-animation-cubic);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-text-color);
  color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-list {
  display: flex;
  background-color: var(--second-text-color);
  flex-wrap: wrap;
  gap: 30px;
}

.card-image {
  position: relative;
  overflow: hidden;
}

.card-item-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  transform: translateY(100%);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  opacity: 0.9;
  color: var(--main-background-color);
  background-color: var(--accent-text-color);

  transition: transform 250ms var(--main-animation-cubic);
}

.card-link {
  display: block;

  transition: box-shadow 250ms var(--main-animation-cubic);
}

.card-link:hover,
.card-link:focus,
.card-link:hover .card-item-description,
.card-link:focus .card-item-description {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}

.card-info {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}
